@use "../../utils/styles/variables.scss" as *;

.ChipInput{
  display: flex;
  flex-direction: column;
    @include componentStyle;
  padding: 8px;
  margin-top: 20px;
  input {
    width: 500px;
    height: 40px;
  }
  .chip-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    text-align: center;
    flex-wrap: wrap;
    div {
      padding: 8px;
      margin: 8px;
      border: 1px solid black;
      border-radius: 8px;
      display: flex;
      button {
        margin: 0 0 0 8px;
        cursor: pointer;
      }
    }
}}