@use "../../utils/styles/variables.scss" as *;

.accordion-wrapper{
    display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: 20px;
    @include componentStyle;


 
}
 .accordion-header{
      
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $primaryBtnHover;
    color: white;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    width:100%;
    border: none;
               
  }

.accordion-body{
    background-color: white;
    margin-top: -8px;
    margin-bottom: 8px;
  

}
.accordion-action{
    cursor: pointer;
  }